<!doctype html>
<head>
<title>Data</title>
<link rel="stylesheet" type="text/css" href="/static/wcsa.css">
<script src="/static/edit.js"></script>
<script src="/static/stem.js"></script>
</head>
<body>
{% for entity in entities %}
<div id="entity">{{ entity[0][0] }}
  <p>{{ entity[1] }} : {{ entity[2] }}</p>
  <div id="ws"onclick="getLinks('{{ entity[0][0] }}');">Search Workset</div>
  <div id="data_all" onclick="getLinks("{{ entity[0][0] }}");">Search Other Worksets</div>
  <div id="ws"onclick="getLinks('{{ entity[0][0] }}');">Search All</div>
</div>
{% endfor %}

<p id="log"/>
<div id="edit"></div>
<div id="lang"></div>
<div id="sparql"></div>
<div id="links">Replace me</div>
<script>
if (!window.Worker) {
  alert('Please change to a different browser as this site needs workers to run.');
}

//set up some elements
var sparql = document.getElementById('sparql')
var links = document.getElementById('links')

var linksWorker= new Worker('/static/links.js')

//Worker to fetch the subjects per predicate
var langWorker = new Worker('/static/subject.js');
langWorker.onmessage = function(e) {
  lang.innerHTML = showSubjects(e.data);
}

//subjects listing
function showSubjects(data) {
    html = "<div id='subjects'><ul>";
    data.map( function(x) { html += "<li>" + x + "</li>"  } );
    html += "</ul></div>";
    return html;
}

//Worker to get the predicates
var sparqlWorker = new Worker('/static/sparql.js');
sparqlWorker.onmessage = function(e) {
  sparql.innerHTML = showPredicateWeightings(e.data);
}

// show the predicate weightings in a simple list for now
function showPredicateWeightings(data) {
    html = "<div id='weightings'>";
    data.map( function(x) { 
        html += "<div onclick=\"associateSubject('"+x.predicate+"')\">" + x.predicate + " : " + x.weight + "%</div>";  
    } );
    html += "</div>";
    return html;
}

//Worker to build the relevance or not. 
linksWorker.onmessage = function(e) {
  links.innerHTML = toHtml(e.data);
}

//set up some elements
var edits = document.getElementById('edit')

//set up the workers and handle the return message
var editWorker = new Worker('/static/edit.js');
editWorker.onmessage = function(e) {
  edits.textContent = e.data;
}

//set up the main call for the data to parse. 
function reqListener () {
  var recordData = JSON.parse(this.responseText);
}

function log(msg) {
  var p = document.getElementById('log');
  p.innerHTML = p.innerHTML + "<br />" + msg;
}

/**
*  Make into a webworker and call Python
*/
function editDistance(string_a, string_b) {
    editWorker.postMessage([string_a, string_b]);
    console.log('posting message to worker');
}

/**
*  Make into a webworker and call Python
*/
function associateSubject(uri) {
    langWorker.postMessage([uri]);
    console.log('posting message to worker');
}
/**
*  Make into a webworker and call Python
*/
function queryThesaurus(string_a) {
    sparqlWorker.postMessage([string_a]);
    console.log('posting message to worker');
}

/**
*  Make into a webworker and call Python
*/
function variants(string_a, string_b) {
    log(string_a + "is latin and " + string_b + " is English. Align?");
}


//define requirements but what do we need here? Assuming graph name 
function getLinks(stringa) {
    linksWorker.postMessage([stringa]);
}

function findPredicates(uriA) {
   sparqlWorker.postMessage([uriA]);
}

function updateWeighting(original, different, weight) {
var oReq = new XMLHttpRequest();
//oReq.addEventListener("load", reqListener);
oReq.open("POST", "/weight");
data = JSON.stringify({ 'original' : original, 'different':different, 'weight': weight});
oReq.send(data);
}

//@todo: Refactor this to be cleaner
//wrapper function to parse the JSON into HTML 
function toHtml(data) {
   markup = "";
   markup += parseDifference(data.original, "original");
   markup += parseDifference(data.link, "linked");
   markup += parseDifference(data.difference, "difference");
   //hide similarity for moment
   //markup += simpleMarkup(data.similarity, "similarity");
   markup += createForm(data.original[0][0], data.difference[0][0], "form");
   markup += createObjectLists(data);
   return markup;
}

function parseDifference(difference, divname) {
   html = "<div id='"+divname+"'>";
   difference.map(
        function (x) { html += "<p>" + x[1] + " : " + x[2] + "</p>"; }
   );
   html += "</div>";
   return html;
}

function simpleMarkup(data, divname) {
  return html = "<div id='"+divname+"'>" + data + "</div>";
}

function createForm(originalUrl, linkedUrl, divname) {
    html = "<div id='" + divname + "'>";
    html += "<div onclick=\"updateWeighting('"+originalUrl+"', '"+linkedUrl+"', 1)\">Interested</div>";
    html += "<div onclick=\"updateWeighting('"+originalUrl+"', '"+linkedUrl+"', 0)\">Not interested</div>";
    html += "</div>";
    return html;
}

var objectSet = new Set();

function createObjectLists(data) {
   listObjects(data);
   html = "<div id=\"objectlist\">";
   objectSet.forEach( function(x) { html += "<div onclick=\"findPredicates('"+ x +"')\">" + x + "</div> ";  } );
   html += "</div>";
   return html;
}

//filter the data to recover all objects
function listObjects(data) {
    parts = [data.original, data.difference, data.link];
    for (d in parts) {
       parts[d].filter(function(x) {objectSet.add(x[2])});
    }
}

</script>
</body>
</html>
