<!doctype html>
<head>
<title>WCSA+DC and Cousin Itt</title>
<link rel="stylesheet" type="text/css" href="/static/wcsa.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="static/ldinjs.js" type="application/javascript"></script>
<script>
    var semdata = ldinjs.init();

    $( function() {
 
    $( "#semautocomplete" ).autocomplete({
      source: "/search",
      minLength: 3,
      select: function( event, ui ) {
        ldinjs.createDataObject(ui.item.value, ui.item.id);
        ldinjs.markupSearch();
      }
    });
  } );
</script>
</head>
<body onload="findWorksets('ignoreme')">
<div id="primary_navigation">
  <div id="worksets">Worksets</div>
  <div id="selworksets">Selected Worksets</div>
</div>
<div class="ui-widget">
  <input id="semautocomplete" />
  <div id="results"></div>
</div>
<input class="searchbutton" type="button" value="Search Data" />
<div id="data">
</div>
<div id="datum">
  <div id="searchobjects"></div>
  <div id="preds"></div>
</div>
<div id="extradatum">
  <div id="subject" />
</div>
<script src="static/worksets.js" type="application/javascript"></script>
<script>
workset.init();
var selectedWorkset = new Set();

var ws = document.getElementById('worksets');
var worksetWorker = new Worker('static/workers/worksetWorker.js');
worksetWorker.onmessage = function(e) {
   ws.innerHTML = workset.markup(e.data);
}

function findWorksets(username) {
  worksetWorker.postMessage([username]);
}

//Worker to get the data
var datum = document.getElementById('data');
var objs = document.getElementById('searchobjects');
var sparql = document.getElementById('preds');
var lang = document.getElementById('subject')

var datumWorker = new Worker('/static/data.js');
datumWorker.onmessage = function(e) {
  ldinjs.pushData(e.data);
  datum.innerHTML = "";
  datum.innerHTML = createDataList(semdata, "id-data");
  objs.innerHTML = createObjectLists(semdata);
}

/**
*  Function to create a list per data object of preds : objs
*/
function createDataList(data, div) {
    var markup = '';
    data.forEach(function(x) { markup = markUpList(x, div, markup); });
    return markup;
}

function markUpList(difference, divname, html) {
   html += "<div id='"+divname+"'><ul>";
   html += "<h3>" + difference.value + "</h3>";
   difference.data.forEach(
        function (x) { html += "<li>" + x.p + " : " + x.o + "</li>"; } 
   );
   html += "</ul></div>";
   return html;
}

  //find objects code
  var objectSet = new Set();
  function createObjectLists(data) {
   listObjects(data);
   html = "<div id=\"objectlist\">";
   objectSet.forEach( function(x) { html += "<div onclick=\"findPredicates('"+ x +"')\">" + x + "</div> ";  } );
   html += "</div>";
   return html;
  }

  //filter the data to recover all objects
  function listObjects(data) {
    //data.filter(function(x) {objectSet.add(x[2])});
    data.forEach( 
       function(d) { d.data.forEach(function(x) { objectSet.add(x.o);  }); }
    );
  }

  function findPredicates(uriA) {
    sparqlWorker.postMessage([uriA]);
  }

  //Worker to fetch the subjects per predicate
  var langWorker = new Worker('/static/subject.js');
    langWorker.onmessage = function(e) {
    lang.innerHTML = showSubjects(e.data);
  }

  //subjects listing
  function showSubjects(data) {
    html = "<div id='subjects'><ul>";
    data.map( function(x) { html += "<li onclick='createDataObject(\""+x+"\", \""+x+"\")'>" + x + "</li>"  } );
    html += "</ul></div>";
    return html;
  }

  //Worker to get the predicates
  var sparqlWorker = new Worker('/static/sparql.js');
    sparqlWorker.onmessage = function(e) {
    sparql.innerHTML = showPredicateWeightings(e.data);
  }

  // show the predicate weightings in a simple list for now
  function showPredicateWeightings(data) {
    html = "<div id='weightings'>";
    data.map( function(x) { 
        html += "<div onclick=\"associateSubject('"+x.predicate+"')\">" + x.predicate + " : " + x.weight + "%</div>";  
    } );
    html += "</div>";
    return html;
  }

  /**
  *  Associate a subject to a predicate and search knowledge base
  */
  function associateSubject(uri) {
    langWorker.postMessage([uri]);
  }

  //script to send data to server
  $(".searchbutton").click(function() {
    var searchData = Array();
    semdata.forEach(function (d) { searchData.push(d.id);  } );
    datumWorker.postMessage(searchData);
  });
</script>
<script src="static/worksets.js" type="application/javascript"></script>
</body>
</html>
