<!doctype html>
<head>
<title>WCSA+DC and Cousin Itt</title>
<link rel="stylesheet" type="text/css" href="/static/wcsa.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="static/ldinjs.js" type="application/javascript"></script>
</head>
<body onload="findWorksets('ignoreme')">
<div id="primary_navigation">
  <div id="worksets">Worksets</div>
  <div id="selworksets">Selected Worksets</div>
  <div id="save"><input class="removebutton" type="button" value="Save to Workset" onclick="postData()" /><div id="wsNumber" /></div>
</div>
<div class="ui-widget">
  <input id="semautocomplete" />
  <div id="results"></div>
</div>
<input class="searchbutton" type="button" value="Search Data" />
<div id="data">
</div>
<div id="datum">
  <div id="searchobjects"></div>
  <div id="preds"></div>
</div>
<div id="extradatum">
  <div id="subject" />
</div>

<div id="similarity">
  <input class="removebutton" type="button" value="Find Similarities" onclick="findSimilarities(semdata)" />
  <div id="similarities" />
</div>
<div id="simpred">
  <input class="removebutton" type="button" value="Find Similarities in Workset" onclick="findWorksetSimilarities('http://eeboo.oerc.ox.ac.uk/worksets/workset_080e9c11a1b8491e823808e8d9e294f7', 'ws')" />
  <div id="predicates" />
</div>
<div id="simclus">
  <input class="removebutton" type="button" value="Find Similarities in Data" onclick="findDataSimilarities(semdata)" />
  <div id="cluster" />
</div>
<div id="chart" />
<script src="static/worksets.js" type="application/javascript"></script>
<script src="static/similarity.js" type="application/javascript"></script>
<script src="static/drilldown.js" type="application/javascript"></script>
<script>
    var semdata = ldinjs.init();

    $( function() {
 
    $( "#semautocomplete" ).autocomplete({
      source: "/search",
      minLength: 3,
      select: function( event, ui ) {
        ldinjs.createDataObject(ui.item.value, ui.item.id);
        ldinjs.markupSearch();
      }
    });
  } );
    var postdata = document.getElementById('wsNumber');
    var postWorker = new Worker('static/workers/postWorker.js');
    postWorker.onmessage = function(e) {
        let retdata = (!e.data)? "Cannot be saved" : e.data;
        postdata.innerHTML = "<div id='wsNum'>"+retdata+'</div>';
    }

    function postData() {
        postWorker.postMessage(semdata);
    }

var drillDown  =  new drillDown();
workset.init();
var selectedWorkset = new Set();

var ws = document.getElementById('worksets');
var worksetWorker = new Worker('static/workers/worksetWorker.js');
worksetWorker.onmessage = function(e) {
   ws.innerHTML = workset.markup(e.data);
}

function findWorksets(username) {
  worksetWorker.postMessage([username]);
}

//Worker to get the data
var datum = document.getElementById('data');
var objs = document.getElementById('searchobjects');
var sparql = document.getElementById('preds');
var lang = document.getElementById('subject')

var datumWorker = new Worker('/static/data.js');
datumWorker.onmessage = function(e) {
  ldinjs.pushData(e.data);
  //markup the result box
  datum.innerHTML = drillDown.createDataList(semdata, "id-data");
  //markup the object box
  objs.innerHTML = drillDown.createObjectLists(semdata);
}

  var sim = document.getElementById('similarities');
  var pred = document.getElementById('predicates');
  var clus = document.getElementById('cluster');

  function findSimilarities() {
     simWorker.postMessage(filterIds());
  }

  function findWorksetSimilarities(data, flag) {
    predWorker.postMessage([data, flag]);
  }

  function findDataSimilarities(data) {
    clusterWorker.postMessage(filterIds());
  }

  var simWorker = new Worker('/static/workers/simWorkWorker.js');
  simWorker.onmessage = function(e) {
    sim.innerHTML = sims.markUpAggregations(e.data);
  }
  var sims = setOperations();
  var predWorker = new Worker('/static/workers/predWorker.js');
  predWorker.onmessage = function(e) {
    pred.innerHTML = sims.markUpAggregations(e.data);
  }

  var sims = setOperations()
  var clusterWorker = new Worker('/static/workers/clusterWorker.js');
  clusterWorker.onmessage = function(e) {
    ldinjs.addSimilaritytoObject(e.data);
  }
  /* Similarity */
  /**
  *  Method to search the worksets for (pred, obj) pairs
  */
  function findPredicatesWS(pred,obj,ws) {
    sparqlWorker.postMessage([pred,obj,ws]);
  }

  /**
  *  Method to search the whole graph for (pred, obj) pairs
  */
  function findPredicates(uriA) {
    sparqlWorker.postMessage([uriA]);
  }

  //Worker to fetch the subjects per predicate
  var langWorker = new Worker('/static/subject.js');
    langWorker.onmessage = function(e) {
    lang.innerHTML = drillDown.showSubjects(e.data);
  }

  //Worker to get the predicates
  var sparqlWorker = new Worker('/static/workers/sparql.js');
    sparqlWorker.onmessage = function(e) {
    sparql.innerHTML = drillDown.markupPredicateWeightings(e.data);
  }

  /**
  *  Find a subject to a predicate and search knowledge base
  */
  function associateSubject(uri) {
    langWorker.postMessage([uri]);
  }

  //script to send data to server
  $(".searchbutton").click(function() {
    var searchData = Array();
    semdata.forEach(function (d) { searchData.push(d.id);  } );
    datumWorker.postMessage(searchData);
  });
</script>
</body>
</html>
